<?xml version="1.0" encoding="utf-8"?>

<!-- Další informace o používání transformace web.config naleznete na webu: http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    V příkladu níže transformace SetAttributes změní hodnotu 
    connectionString tak, aby byl datový zdroj ReleaseSQLServer použit pouze v případě, že lokátor Match 
    nalezne atribut name s hodnotou MyDB.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--<add name="DefaultConnection"
         connectionString="Data Source=slavoj.dbaserver.net;initial Catalog=Slavoj; UID=slavoj; PWD=GM2FUto9;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    />
    <add name="SlavojDBContainer"
         connectionString="metadata=res://*/Models.SlavojDB.csdl|res://*/Models.SlavojDB.ssdl|res://*/Models.SlavojDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=slavoj.dbaserver.net;initial catalog=Slavoj;UID=slavoj; PWD=GM2FUto9;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    />-->
    <add name="DefaultConnection" 
         connectionString="server=192.168.1.5;uid=db5030;pwd=Of18RUS2rBePw1j3Iobq;database=db5030" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
    <add name="SlavojDBContainer" 
         connectionString="metadata=res://*/Models.SlavojDB.csdl|res://*/Models.SlavojDB.ssdl|res://*/Models.SlavojDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=192.168.1.5;uid=db5030;pwd=Of18RUS2rBePw1j3Iobq;database=db5030;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      V příkladu níže transformace Replace nahradí celý oddíl 
      <customErrors> ve vašem souboru Web.config.
      Protože se v uzlu <system.web> nachází jen jeden oddíl customErrors, 
       není třeba použít atribut xdt:Locator.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>