@model SlavojMVC4_1.Models.WebPage

<div class="clanek">
    <div>
        @if (Model != null)
        {
            @Html.Raw(Model.HtmlText)
        }
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.0976567951707!2d15.19005129999999!3d49.255594900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470cd95159c9ee05%3A0xbb4b002290a93d97!2sF%C3%BCgnerova+691%2C+394+68+%C5%BDirovnice!5e0!3m2!1scs!2scz!4v1416479174946" width="660" height="450" frameborder="0" style="border:0"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1416491682675!6m8!1m7!1sOq8VcmXRIXd8qn_LOhIBDA!2m2!1d49.2549106!2d15.190748!3f290.55!4f-8.920000000000002!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0"></iframe></div>
</div>
