<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>kkslavojzirovnice.asp2.cz</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <publishUrl>ftp://kkslavojzirovnice.asp2.cz</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <FtpSitePath>wwwroot</FtpSitePath>
    <UserName>kkslavojziro</UserName>
    <_SavePWD>True</_SavePWD>
    <FtpPassiveMode>True</FtpPassiveMode>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\v11.0;AttachDbFilename="D:\Users\Petr\Dokumenty\Visual Studio 2012\Projects\SlavojMVC4-1\SlavojMVC4-1\App_Data\Slavoj.mdf";Initial Catalog=Slavoj;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SlavojDBContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SlavojDB.csdl|res://*/Models.SlavojDB.ssdl|res://*/Models.SlavojDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;AttachDbFilename="D:\Users\Petr\Dokumenty\Visual Studio 2012\Projects\SlavojMVC4-1\SlavojMVC4-1\App_Data\Slavoj.mdf";Initial Catalog=Slavoj;Integrated Security=True'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>